/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #333;
    color: white;
}

.logo-link {
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 1.2rem;

}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}


.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #ffcc00;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.ytimg.com/vi/zob-2dpRtH0/maxresdefault.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}
.input-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.hero-image {
    max-width: 100%;
    height: auto;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Search and Filters */
.filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.filters select, .hero .input-container {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

/* Job Listings */
.job-listings {
    padding: 40px 20px;
    text-align: center;
}

.jobs-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin: 0 15px;
}

.footer-links a {
    color: #ffcc00;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}
